body {
    margin: 0;
    background-color: #f2f2f2;
}

#navigation {
    font-family: "Baskerville Old Face", "Sans-serif";
    font-size: large;
    font-weight: bolder;
    color: white;
}

#navigation a{
    color: white;
    text-decoration: none;
}

#main-header {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 49, 49);
    overflow: hidden;
}

#main-header a {
    object-fit: cover;
}

#main-header img {
    height: 50%;
    width: 50%;
    object-fit: cover;
}

#brand-logo {
    font-family: "Baskerville Old Face", "Sans-serif";
    font-style: italic;
    font-size: 3rem;
    font-weight: bolder;
    color: black;
    padding: 1rem;
}

#main-header ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#main-header li {
    padding: 1rem;
}

#main-header a {
    text-decoration: none;
}


#main-logo {
    margin: 5rem auto auto auto;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

#main-logo{
    width: 16rem;
}

#socials {
    list-style: none;
}

#socials img{
    height: 3rem;
}


@media (max-width: 728px) {
    #main-header {
        flex-direction: column;
        align-items: center;
    }

    #main-header {
        height: auto;
    }
}